In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("Train.csv")

In [3]:
df.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918

In [4]:
df['date_time'] = df['date_time'].astype('datetime64[ns]') #Changing dtype from object to datetime64[ns]

In [5]:
df['Year'] = pd.DatetimeIndex(df['date_time']).year #Adding Column of Year
df['Month'] = pd.DatetimeIndex(df['date_time']).month #Adding Column of Month

In [6]:
df['Day'] = pd.DatetimeIndex(df['date_time']).day #Adding Column of day

In [7]:
df['Hour'] = pd.DatetimeIndex(df['date_time']).hour #Adding Column of Hour

In [8]:
df['is_holiday'][~df['is_holiday'].isin(['None'])] = 1 #Non - Holidays are marked as 1
df['is_holiday'][df['is_holiday'].isin(['None'])] = 0 #Holidays are marked as 0

In [9]:
lst = []
for x in ['weather_type','weather_description']:
    unq = df[x].unique()
    k = 0
    dcu = {}
    for y in unq:
        dcu[y] = k # Mapping Weather Type & Weather Description
        k+=1
    lst.append(dcu)
    df[x] = df[x].map(dcu).astype(int)

In [10]:
df.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,Year,Month,Day,Hour
0,2012-10-02 09:00:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,0,0,5545,2012,10,2,9
1,2012-10-02 10:00:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,0,1,4516,2012,10,2,10
2,2012-10-02 11:00:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,0,2,4767,2012,10,2,11
3,2012-10-02 12:00:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,0,2,5026,2012,10,2,12
4,2012-10-02 13:00:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,0,1,4918,2012,10,2,13

In [11]:
df.to_csv('New_train.csv', index=False) #Saving it to new CSV file